.Backpage {
  background-color: white;
  text-align: center;
  width: 192px;
  border-radius: 0.5rem;
  height: 56px;
  position: relative;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  border: 4px solid white;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
  transition: all 0.3s ease-in-out;
}

.icon-wrapper {
  background-color: rgb(110, 187, 148);
  height: 48px;
  width: 48px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: grid;
  place-items: center;
  transition: width 0.3s ease-in-out;
  margin-right: 0.5rem;
}

.Backpage:hover .icon-wrapper {
  width: 100%;
  margin-right: 0;
}

.button-text {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.Backpage:hover .button-text {
  transform: translateX(0);
}

.icon-wrapper svg {
  fill: black;
  width: 25px;
  height: 25px;
}

.Backpage:hover {
  justify-content: center;
}

.container_export {
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 100px;
  flex-direction: row-reverse;
}

.chart-container1 {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.chart-container1 canvas {
  width: 100% !important;
  height: 100% !important;
}

.button {
  --main-focus: #2d8cf0;
  --font-color: #dedede;
  --bg-color-sub: #222;
  --bg-color: #323232;
  --main-color: #959393;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(21px);
  color: var(--font-color);
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 31px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  fill: var(--main-color);
}

.button:hover {
  background: var(--bg-color);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

.button-container {
  display: flex;
  gap: 10px;
  padding: 10px;
}

