.page {
  width: 100%;
  height: 100%;
  min-width: 100%;
}

.container_h {
  width: 100%;
  height: 100%;
}

.login-background {
  width: 100%;
  height: 830px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.login_container {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-grp {
  margin-bottom: 20px;
}

.black-ligne {
  border: 0px;
  border-bottom: 1px solid black;
}

.login-button {
  background-color: black;
  border-radius: 30px;
  width: 200px;
  height: 50px;
}

.url {
  color: #a6a6a6;
  display: flex;
  flex-direction: row-reverse;
}

#Space {
  height: 100px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.black-ligne {
  outline: none;
}

input:focus {
  outline: none;
}

.input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group > .custom-file .custom-file-input:focus ~ .custom-file-label, .input-group > .custom-select:focus, .input-group > .form-control:focus {
  z-index: 3;
}

.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control, .input-group > .form-control-plaintext {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}

